{% extends "base.html" %}

{% block main_content %}

<form action="" method = "POST" novalidate>
<section id ="mn">
    {{form.hidden_tag()}}
    {{form.age.label}}
    {{form.age()}}
    {% for error in form.age.errors %}
        {{ error }}
    {% endfor %}
    {{form.submit()}}
    <br/>
</form>
</section>
<section id = "mn">
    {% for sport in sports %}
    {{ sport["sport_name"] }}
    <a href="{{ url_for('appli', sport_id = sport['sport_id'], sport_name = sport['sport_name'], user_id =  g.user )}}">click to book an appointment</a>
{% endfor %}
</section>

{% endblock %}