{% extends "base.html" %}
{% block main_content %}
<h1> Sitting Time Calculator</h1>
<p> Do you realize how much you sit? Excessive sitting impacts our body’s metabolic system, potentially leading to health problems. Evaluate how much you sit each day and learn ways to reduce that time</p>
    
<form action="" method = "POST" novalidate>
    <h2>Sitting Time Calculator</h2>
    <p> Calculate how much you sit each day and learn if you are at risk of sitting disease. Enter the number of hours/Minutes you sit when you...</p>
    {{form.hidden_tag()}}
    <br/>
<section id= "MA">
    <h3 id="M">--------------------------------------MORNING ACTIVITIES</h3>
    {{form.eatBH.label}}
    {{form.eatBH()}}
    {% for error in form.eatBH.errors %}
        {{ error }}
    {% endfor %}
    {{form.eatBM.label}}
    {{form.eatBM()}}
    {% for error in form.eatBM.errors %}
        {{ error }}
    {% endfor %}
    <br />
    {{form.travelTH.label}}
    {{form.travelTH()}}
    {% for error in form.travelTH.errors %}
        {{ error }}
    {% endfor %}
    {{form.travelTM.label}}
    {{form.travelTM()}}
    {% for error in form.travelTM.errors %}
        {{ error }}
    {% endfor %}
    <br/>
    {{form.workMH.label}}
    {{form.workMH()}}
    {% for error in form.workMH.errors %}
        {{ error }}
    {% endfor %}
    {{form.workMM.label}}
    {{form.workMM()}}
    {% for error in form.workMM.errors %}
        {{ error }}
    {% endfor %}

</section>
<section id= "AA">
    <h3 id="A">--------------------------------------AFTERNOON ACTIVITIES</h3>
    {{form.eatLH.label}}
    {{form.eatLH()}}
    {% for error in form.eatLH.errors %}
        {{ error }}
    {% endfor %}
    {{form.eatLM.label}}
    {{form.eatLM()}}
    {% for error in form.eatLM.errors %}
        {{ error }}
    {% endfor %}
    <br/>
    {{form.workAH.label}}
    {{form.workAH()}}
    {% for error in form.workAH.errors %}
        {{ error }}
    {% endfor %}
    {{form.workAM.label}}
    {{form.workAM()}}
    {% for error in form.workAM.errors %}
        {{ error }}
    {% endfor %}
    <br/>
    {{form.travelBH.label}}
    {{form.travelBH()}}
    {% for error in form.travelBH.errors %}
        {{ error }}
    {% endfor %}
    {{form.travelBM.label}}
    {{form.travelBM()}}
    {% for error in form.travelBM.errors %}
        {{ error }}
    {% endfor %}
</section>

<section id= "EA">
    <h3 id="E">--------------------------------------EVENING ACTIVITIES</h3>
    {{form.eatDH.label}}
    {{form.eatDH()}}
    {% for error in form.eatDH.errors %}
        {{ error }}
    {% endfor %}
    {{form.eatDM.label}}
    {{form.eatDM()}}
    {% for error in form.eatDM.errors %}
        {{ error }}
    {% endfor %}
    <br/>
    {{form.tvH.label}}
    {{form.tvH()}}
    {% for error in form.tvH.errors %}
        {{ error }}
    {% endfor %}
    {{form.tvM.label}}
    {{form.tvM()}}
    {% for error in form.tvM.errors %}
        {{ error }}
    {% endfor %}
    <br/>
    {{form.computerH.label}}
    {{form.computerH()}}
    {% for error in form.computerH.errors %}
        {{ error }}
    {% endfor %}
    {{form.computerM.label}}
    {{form.computerM()}}
    {% for error in form.computerM.errors %}
        {{ error }}
    {% endfor %}
</section>

<section id= "OA">
    <h3 id="O">--------------------------------------ADDITIONAL BEHAVIORS</h3>
    {{form.sleep.label}}
    {{form.sleep()}}
    {% for error in form.sleep.errors %}
        {{ error }}
    {% endfor %}
    <br/>
    {{form.otherH.label}}
    {{form.otherH()}}
    {% for error in form.otherH.errors %}
        {{ error }}
    {% endfor %}
    {{form.otherM.label}}
    {{form.otherM()}}
    {% for error in form.otherM.errors %}
        {{ error }}
    {% endfor %}
    <br/>
    <p>On average, do you get the recommended 2.5 hours a week of exercise?
        Check box, if yes.</p>
    <br/>
    {{form.exercise.label}}
    {{form.exercise()}}
    <br/>
    {{form.submit()}}
    {{form.clear()}}
    </form>
    {{errorMessage}}
</section>
{% endblock %}
